<div class="horizontal-container" style="margin-top: 40px;">
    <div class="horizontal-form-box">
      <div class="horizontal-info-container text-center" style="padding-top: 20px;">
        <p class="horizontal-heading">Reset your password</p>
        <p class="horizontal-subtitle">Your password needs to be at least 8 characters.</p>
      </div>
      <form class="horizontal-form" (submit)="handleSubmit($event)">
        <div class="o3-form-group">
          <label for="new_password">New password</label>
          <input type="password" class="o3-form-control o3-input-lg" id="new_password" [(ngModel)]="password" name="password" />
        </div>
        <div class="o3-form-group">
          <label for="confirm_password">Confirm new password</label>
          <input type="password" class="o3-form-control o3-input-lg" id="confirm_password" [(ngModel)]="confirmPassword" name="confirmPassword" />
        </div>
        <button class="o3-btn o3-btn-primary o3-btn-block" style="background-color: #5995fd; border-color: #5995fd;" type="submit">Set new password</button>
      </form>
      <div class="horizontal-info-container" style="color: red;" *ngIf="error">{{ error }}</div>
    </div>
  </div>
  