@import 'https://static.stayjapan.com/assets/dashboard/application-33c1a06b7784b53cd746d479718b6295c0fcefebb696e78dcee7c68efc92fada.css';

/* Horizontal container */
.horizontal-container {
  margin: 0 auto;
  width: 100%;

  @media(min-width: 768px) {
    width: 500px;
  }
}

/* Progress bar */
/* Create circle */
.progress-bar-container .custom-progress-bar li:before {
  background-color: white;
  border-radius: 50%;
  border: 2px solid #ccc;
  color: #ccc;
  display: block;
  height: 20px;
  line-height: 18px;
  margin: 0 auto;
  text-align: center;
  width: 20px;
}

/* Create line */
.progress-bar-container .custom-progress-bar li:after {
  background-color: #e5e5e5;
  content: '';
  height: 3px;
  left: -50%;
  transform: translateX(50%);
  position: absolute;
  top: 9px;
  width: 100%;
  z-index: -1;
}

.progress-bar-container .custom-progress-bar li:last-child:before,
.progress-bar-container .custom-progress-bar li:last-child:after {
  display: none;
}

.progress-bar-container .custom-progress-bar li.active:before {
  border-color: #5995fd;
  color: red;
}

.progress-bar-container .custom-progress-bar li.finished:before {
  background-color: #5995fd;
  border-color: red;
  color: #fff;
  content: "\2713";
}

/* Custom progress line */
.progress-bar-container .custom-progress-line {
  height: 3px;
  position: absolute;
  content: '';
  top: 9px;
  left: 0;
  width: auto;
  background-color: red;
}

/* Horizontal form */
.horizontal-form-box {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  height: 466px;
  padding: 30px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1); /* Add shadow effect */
  border-radius: 18px;
}

.horizontal-info-container img {
  height: 75px;
  margin-bottom: 20px;
}

.horizontal-info-container .horizontal-heading {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
}

.horizontal-info-container .horizontal-subtitle {
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: center;
}

.horizontal-form-box .horizontal-form label,
.horizontal-form-box .horizontal-form button {
  text-transform: capitalize;
}

.horizontal-form-box .horizontal-form label {
  color: #000;
  font-weight: normal;
}

